.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center vertically on the screen */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the content horizontally */
}

.small-img {
    width: 20%;
    /* Set the width of the image */
    margin-right: 20px;
    /* Add space between the image and text */
}


.text h1 {
    margin-top: 0;
    /* Remove margin from the heading */
}

.text p {
    margin: 0;
    /* Reset margin to remove any default spacing */
    text-align: left;
    /* Align the paragraph text to the left */
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}