/* #root {
  background-color: #191919;
} */

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container h1,
.container p {
  margin: 0;

}

.container h1 {
  padding-top: 20px;
}

.container p {
  color: #607272;
} */